<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">

    <display-name>ENTICE Virtual Image Composer</display-name>
    <description>ENTICE Virtual Image Composer</description>

	<!-- Welcome page -->
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

	<!-- REST servlet -->
	<servlet>
		<servlet-name>ENTICE Virtual Image Composer REST API</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>hu.mta.sztaki.lpds.entice.virtualimagecomposer.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ENTICE Virtual Image Composer REST API</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

    <listener>
    	<listener-class>hu.mta.sztaki.lpds.entice.virtualimagecomposer.rest.WebApplicationContextListener</listener-class>
    </listener>

    <security-role>
  	   <role-name>manager-gui</role-name>
    </security-role>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>manager-gui</realm-name>
	</login-config>
</web-app>