[program:{{ python_app_name }}]
command = "{{ python_app_directory }}/current/run-{{ python_app_name }}.sh"
user = {{ python_app_user }}
startretries=3
autostart=true
autorestart=true
stopasgroup=true
stopwaitsecs = 60
stdout_logfile = {{ python_app_log_directory }}/{{ python_app_name }}.log
stderr_logfile = {{ python_app_log_directory }}/{{ python_app_name }}.error.log